/* homepage styles
=============================================================== */
.main-container{
  margin-top: 200px;
}
// Default home
.starter-template {
  padding: 4rem 1.5rem;
  text-align: center;
  height: 2000px;
}
